/*   color variables */
/*   border radius */
@font-face {
  font-family: P22Underground-light;
  font-weight: light;
  src: url("/P22Underground-Light.otf") format("opentype");
}

@font-face {
  font-family: P22Underground-book;
  font-weight: light;
  src: url("/P22Underground-Book.otf") format("opentype");
}

@font-face {
  font-family: P22Underground-ltp;
  font-weight: light;
  src: url("/P22Underground-LtP.otf") format("opentype");
}

@font-face {
  font-family: P22Underground-thin;
  font-weight: light;
  src: url("/P22Underground-Thin.otf") format("opentype");
}

@font-face {
  font-family: P22Underground-thp;
  font-weight: light;
  src: url("/P22Underground-ThP.otf") format("opentype");
}

h3,p{
  font-family: 'P22Underground-light';
  color:#3D3D3D;
}

h3{
  border-bottom: 2px solid #4F7A32;
}

nav *{
  font-family: 'P22Underground-thp';
  
  font-weight: bold;
}


ul.list-outside{
  margin-left: 1rem;
}



body{
  background: #fff;
}

nav{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.25s ease-in;
}

nav.nav-scrolled{
  background: #4F7A32;
}


nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  cursor: pointer;
}
nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background:transparent;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 15px;
}
nav ul li li a{
  color:#3D3D3D;
}

nav ul li a:hover{
  color:white;
  border-radius: 5px;
  
}
nav ul ul li a:hover{
  box-shadow: none;
  color:#3D3D3D;
}
nav ul ul{
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
  background: #f4f4f4;
}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 50px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  
}
nav ul ul li a{
  line-height: 30px;
  font-size: 12px;
}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
nav .show,nav .icon,nav input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav{background-color: #4F7A32;}
  nav ul{
    margin-right: 0px;
    float: left;
   
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  nav .show{
    display: block;
    color: white;
    font-size: 14px;
    padding: 0 15px;
    line-height: 50px;
    cursor: pointer;
  }
  .show:hover{
    color:white;
  }
  nav .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a{
    padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
  }
  nav ul ul ul li{
    position: static;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
}



#hero {
  height: 100vh;
  width: auto;
  
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.small-hero {
  min-height: 70vh;
  /* width: auto; */

  
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.us-hero {
  min-height: 50vh;
  /* width: auto; */
  background-size: cover;
 
}

.us-hero-1 {
  
  background-image:url(/2.jpg);
}

.us-hero-2 {
  
  background-image:url(/5.jpg);
}

.us-hero-3 {
  
  background-image:url(/7.jpg);
}



#hero.hero-home {
  background-image:url(/thumbnail_HM_Slide1-gradient.png);
  
}

#hero.hero-about-story{ 
  background-image:url(/OURSTORYHeader2.jpg);
  
}

#hero.hero-about-leadership{ 
  background-image:url(/LEADERSHIP_Header.jpg);
  
}

#hero.hero-technology {
  background-image:url(/Technologyheader.jpg);
  
}

#hero.hero-products {
  background-image:url(/PRODUCTHeader.jpg);
  
}

#hero.hero-products-hermes {
  background-image:url(/HermesModule_header.jpg);
  
}

#hero.hero-products-orion {
  background-image:url(/Header-1.jpg);
  
}

#hero.hero-about-manu {
  background-image:url(/HEADER.jpg);
  
}

#hero.hero-about-faq {
  background-image:url(/faqHeader.jpg);
  
}


#hero.hero-about-careers {
  background-image:url(/LEADERSHIP_Header.jpg);
  
}

#hero.hero-about-resources {
  background-image:url(/resourcess-Header.png
  );
  
}

#hero.hero-media {
  background-image:url(/MEDIA_Header2.jpg
  );
  
}

#hero.hero-media-leadership {
  background-image:url('/leadership/LEADERSHIP MEDIA Header.jpg'
  );
  
}


#hero.hero-media-gallery {
  background-image:url(/GALLERY_HEADER1.jpg
  );
  
}

#hero.hero-contact {
  background-image:url(/CONTACT_HEADER.jpg);
  
}

.small-hero.small-hero-hermes {
  background-image:url(/HermesModule_header.jpg);
  
}

.small-hero.small-hero-orion {
  background-image:url(/Image2darker.jpg);
  
}

.small-leader-1{
  
   background-color: #e2ddd9; 
  
}

.small-leader-2{
  
   background-color: #fff; 
  
  
}
.small-leader-3{
  
   background-color: #e4e4e4;  
  
  
}

.small-leader-4{
  
   background-color: #fff;  
  
  
}

.small-leader-5{
  
   background-color: #211e15;  
  
  
}

.small-hero-orion-1 {
  background-image:url(/class34.jpg);
  
}

.small-hero-orion-2 {
  background-image:url(/class56.jpg);
  
}

.small-hero-orion-3 {
  background-image:url(/hercules-class78-hero003.jpg);
  
}

#banner {
   background: url('/powerBADGE.png') , #EBE4D5;  
   background-position: right bottom;
   background-repeat: no-repeat;
   background-size: contain;
   padding: 4rem 0 ;

}



#banner .address{
  line-height: 2.5rem;
}

#banner .social{
  padding-top: 3rem;
}

.bannerul{
  padding-left: 5rem;
}
.bannerul li{
  padding-bottom: 0.5rem;
}

#banner *{
  font-family: 'P22Underground-book';
}
.font-P22Underground-thin{
  font-family: 'P22Underground-thin' !important;
  font-weight: bold  ;
  
}

#banner input{
  border:1px solid #3D3D3D;
  padding:0.25rem 0.25rem;
  margin:0.25rem 0;
}

#footer * {
  font-family: 'P22Underground-light';
  line-height: 70px;
  font-size: 0.85rem;
  background-color: #042F31;
}

#footer {
  
  background-color: #042F31;
}

.formarea{
  background-color: #042F31;
}

.formarea input{
  padding: 1rem;
  width: 100%;
}

summary {
  min-height: 100px;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-right: 100px;
  background: url('/Plus_75pix.png') ;  
  background-position: right center;
  background-repeat: no-repeat;
}

details[open] summary  {
  background: url('/Minus_75pix.png') ;  
  background-position: right center;
  background-repeat: no-repeat;
  
}

/* details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
} */
details summary::-webkit-details-marker {
  display:none;
}

details ::marker { content: ""; }

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}

.careers summary{
  background: url('/Minus_75pix.png') ;  
  background-position: right center;
  background-repeat: no-repeat;
}

.careers details summary {
  min-height: 100px;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-right: 100px;
  background: url('/Plus_75pix.png'), url(/class34.jpg) ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

 .careers details[open] summary {
  background: url('/Minus_75pix.png') , url(/class34.jpg) ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c1 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career1.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c1 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career1.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c2 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career2.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c2 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career2.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c3 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career3.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c3 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career3.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c4 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career4.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c4 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career4.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c5 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career5.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c5 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career5.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c6 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career6.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c6 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career6.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details summary.c7 {
  background: url('/Plus_75pix.png') , url('/Images/Career images/career7.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.careers details[open] summary.c7 {
  background: url('/Minus_75pix.png') , url('/Images/Career images/career7.jpg') ;  
  background-position: right center, center center;
  background-repeat: no-repeat;
}

.hermespad{
  width:4rem
}

